/*Media Queries*/

@media only screen and (max-width: 600px) {
  .footer {
    padding: 30px !important;
  }
}
@media only screen and (min-width: 600px) {
  .footer {
    padding: 30px !important;
  }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}

/*Imports*/

@import "~bootstrap/scss/bootstrap";

h6 {
  color: black;
  font-weight: bold;
  font-family: "Josefin Sans";
}

.footer {
  padding: none;
  //border: solid 1px lightgray;

  .title {
    font-weight: bold;
    font-family: "Josefin Sans";
    text-decoration: underline 1px;
  }

  img {
    color: white;
    width: 18rem;
  }

  .footer-link {
    display: flex;
    justify-content: left;
    color: black;
  }

  .footer-social {
    display: flex;
    justify-content: end;
    margin-top: 20px;

    svg {
      color: black;
      width: 2rem;
      height: 2rem;
    }
  }
}
