.footer {
  color: white;
  font-weight: 200;
  background-color:  #e9f1f8;

  img {
    color: white;
    width: 18rem;
  }

  .sitemap {
    max-width: 25rem;

    /* @media  {
      max-width: none;
      width: 100%;
    }*/
    a {
      color: black;

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }

  .right {
    max-width: 40rem;
    height: 100%;
    justify-content: space-between;

    /* @media (max-width: $md) {
      height: 12rem;
    }*/

    .social {
      z-index: 1;

      a {
        margin-right: 2rem;
      }

      svg {
        color: black;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
