/*Media Queries*/

@media only screen and (max-width: 600px) {
  .main-nav,
  h5 {
    font-size: 1.15rem !important;
  }
}
@media only screen and (min-width: 600px) {
  .main-nav,
  h5 {
    font-size: 1.15rem !important;
  }
}
@media only screen and (min-width: 768px) {
  .main-nav,
  h5 {
    font-size: 1.2rem !important;
  }
}
@media only screen and (min-width: 992px) {
  .main-nav,
  h5 {
    font-size: 1.2rem !important;
  }
}
@media only screen and (min-width: 1200px) {
  .main-nav,
  h5 {
    font-size: 1.2rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .main-nav,
  h5 {
    font-size: 1.2rem !important;
  }
}

//navigation bar

.main-nav {
  width: 100%;
  background-color: white !important;
  //background-color: #e4ecfa !important;
  border: solid 1px lightgray;
  font-family: "Josefin Sans";

  .main-nav-t {
    background-color: white !important;
  }

  .m-auto {
    //background-color: white !important;
  }

  .nav-link {
    color: black !important;
  }
  img {
    height: 30px;
    width: 30px;
  }
}

.header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-contact {
  font-weight: 100;
  color: black;
  padding-top: 10px;
  height: 50px;
  font-size: 10px;
}
