@font-face {
  font-family: "Canter";
  src: url("/fonts/Parisienne-Regular.ttf") format("off");
}

/*Product Category: image, description, price*/

.product-category {
  border: solid 1px lightgrey;
  font-size: 12px;
  padding: 20px;
  text-align: center;
}

.product-section-title{
  font-size: 40px;
  color: grey;
  display: inline-block;
  border: solid 1px lightgray;
  background-color:  white;
  //font-family: Parisienne;
      font-weight: 100;
      color: black;
      padding-top: 3px;
      padding-bottom: 3px;

}

// Product Image

.image-border-deco {
  border: solid 1px lightgray;
  &:hover {
    opacity: 0.8;
  }
}

.modal-image{
  border: solid 2px  #e9f1f8;
}

//Product Image - Modal

.product-image-modal{

  .modal-text{
    background-color: #e9f1f8;
  }

  .product-image-text-title{
    font-size: 18px;
    font-weight: lighter;
    
  }
  .product-image-text-dimensions{
    font-size: 18px;
    font-weight: lighter;
    
  }
  .product-image-text-price{
    font-size: 18px;
    font-weight: bold;
    
  }

}

