.about-parent {
  background-color: white;
  font-family: "Josefin Sans";

  .about-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .about-title {
    color: black;
  }
  .about-text {
    color: black;
  }
}
