.about-parent {
  background-color: white;
  font-family: "Josefin Sans";

  .about-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .about-title {
    color: black;
    background-color: #d9d9d9;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
  }
  .about-text {
    color: black;
  }
}
