.contact-form-parent {

  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans";

  .contact-form-text {
    flex-direction: row;
  }
  .contact-form-link {
    flex-direction: row;
    justify-content: center;
  }
}
