.curiosities-parent {
  font-family: "Josefin Sans";
  width: 100%;
  height: auto;

  .curiosities-child {
    background-repeat: no-repeat;
    background-size: cover;
  }

  h3 {
    background-color: white;
    color: black;
   
  }
}
