.everyday-antiques-parent {
  font-family: "Josefin Sans";
  width: 100%;
  height: auto;
  background-image: url("/seasonal-fall.jpeg");

  h2 {
    background-color: #c1d7cb;
    color: black;
  }
}
