.featured-antiques-parent {
  background-color: #c1d7cb;
  font-family: "Josefin Sans";
  border: 0.5px solid black;

  .featured-antiques-section-text {
    color: black;
  }
  .featured-antiques-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .featured-antiques-product-images {
    border: solid 1px black;
  }
}
