// Nav - Parent

.nav-parent {
  background-color: white !important;
  width: 100%;
  font-family: "Josefin Sans";
  

  /*  Nav - Navbar Toggle */

  .nav-toggle {
    background-color: white !important;
    border: solid 1px black;
    

    /*  Nav - Navbar Colapse */

    #nav-colapse {

      .m-auto {
        
        /*  Nav - Navigation Menus */

        .nav-menus {
          /* Nav - Titles */

          .nav-titles {
            /* Nav - Link */

            .nav-link {
            }
          }
        }
      }

      /* Nav - Social */

      .nav-social {
      }
    }
  }
}
