.new-arrivals-parent {
  font-family: "Josefin Sans";
  width: 100%;
  height: auto;
  
  .new-arrivals-title {
    color: black;
    background-color: #d9d9d9;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
  }

}
