.our-story-parent {
  background-color: white;
  font-family: "Josefin Sans";
  

  .our-story-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .our-story-title {
    color: black;
  }
  .our-story-text {
    color: black;
  }
}
