.private-gallery-parent {
  background-color: white;
  font-family: "Josefin Sans";
  
  .private-gallery-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .private-gallery-title {
    color: black;
  }
  .private-gallery-text {
    color: black;
  }
}
