.seasonal-antiques-parent {
  font-family: "Josefin Sans";
  width: 100%;
  height: auto;
 
  .seasonal-antiques-child {
    background-repeat: no-repeat;
    background-size: cover;
  }

  h3 {
    color: black;
  }
}
