.seasonal-antiques-parent {
  font-family: "Josefin Sans";
  width: 100%;
  height: auto;
 
  .seasonal-antiques-child {
    background-image: url("/seasonal-winter.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5px solid black;
  }

  h2 {
    background-color: white;
    border: 0.5px solid black;
    color: black;
  }
}
