//Services Parent

.services-parent {
  background-color: #c1d7cb;
  font-family: "Josefin Sans";
  border: 0.5px solid black;

  .services-section-parent {
    .services-section-child {
      .services-title {
        color: black;
      }
      .services-text {
        color: black;
      }
    }
  }
}
