//Services Parent

.services-parent {
  background-color: white;
  font-family: "Josefin Sans";

  .services-section-parent {
    .services-section-child {
      .services-title {
        color: black;
      }
      .services-text {
        color: black;
      }
    }
  }
}
