/*Media Queries*/

@media only screen and (max-width: 600px) {
  .banner h1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 600px) {
  .banner h1 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .banner h1 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .banner h1 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .banner h1 {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1400px) {
  .banner h1 {
    font-size: 7rem;
  }
}

@font-face {
  font-family: "Canter";
  src: url("/fonts/Parisienne-Regular.ttf") format("off");
}

/*Imports*/

@import "~bootstrap/scss/bootstrap";
@import "layout";

/*General*/

body {
  /*background-color: #fadadd;*/
  background-color: #e9f1f8;
}

/* Header */
.header {
  margin-top: 40px;
}

.banner {
  font-family: Parisienne;
  padding-top: 70px;
  height: 180px;
  max-width: 100%;
  text-align: center;
  font-weight: 100;
  color: black;
}

.banner2 {
  font-family: Parisienne;
  padding-top: 20px;
  height: 90px;
  max-width: 100%;
  text-align: center;
  font-weight: 100;
  color: black;
}

.banner3 {
  padding-top: 20px;
  height: 90px;
  max-width: 100%;
  text-align: center;
  font-weight: 100;
  color: black;
}

/* header - nav bar */

.main-nav {
  //position: absolute;

  width: 100%;
  background-color: #e9f1f8 !important;

  .basic-nav-dropdown {
    background-color: #e9f1f8 !important;
  }

  .basic-nav-link {
  }

  &.navbar {
  }
  .nav-link {
    color: black !important;
  }
  img {
    height: 30px;
    width: 30px;
  }
}

/*Body*/

.content {
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fdffd5;
  background-image: url("/images/about-image.jpeg");
  background-size: contain;

  height: 900px;
  max-width: 100%;
  padding-top: 4rem;
}

/*Images*/

.image-border-deco {
  border-color: 1px solid #cba135 !important;
}

/* Footer - Social Media and Maps */

.footer {
  display: flex;
  flex-direction: row;
  height: 400px;
  max-width: 100%;

  .social-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 50%;
    background-color: #e9f1f8;
  }

  .maps-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 50%;
    background-color: #e9f1f8;
  }
}

.hidden {
  display: none;
}

/* Body */

/*Classes*/
