/*Media Queries*/

@media only screen and (max-width: 600px) {
  .banner h1 {
    font-size: 4rem;
  }
  .banner h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 600px) {
  .banner h1 {
    font-size: 4rem;
  }
  .banner h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .banner h1 {
    font-size: 4rem;
  }
  .banner h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .banner h1 {
    font-size: 4rem;
  }
  .banner h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .banner h1 {
    font-size: 4rem;
  }
  .banner h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .banner h1 {
    font-size: 4rem;
  }
  .banner h2 {
    font-size: 2rem;
  }
}

@font-face {
  font-family: "Canter";
  src: url("/fonts/Parisienne-Regular.ttf") format("off");
}

/*Imports*/

@import "~bootstrap/scss/bootstrap";
@import "layout";

/*General*/

body {
  /*background-color: #fadadd;*/
  background-color: #e9f1f8;

}

/*Body*/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fdffd5;
  background-image: url("/images/about-image.jpeg");
  background-size: contain;
  height: 900px;
  max-width: 100%;
  padding-top: 4rem;
}

/*Images*/

.image-border-deco {
  border-color: 1px solid #cba135 !important;
}

.hidden {
  display: none;
}


