.banner-parent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  
  .banner-logo-style {
    flex-direction: row;
    display: block;
    border-style: solid 1px black !important;
    border-radius: 25%;
  }
  .banner-text {
    font-family: "Josefin Sans", sans-serif;
    flex-direction: row;
    color: #665200;
    font-size: 20px;
    font-weight: bold;
  }
}
