.buying-parent {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans";

  h5 {
    text-align: center;
  }

  .buying-title {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    color: #665200;
    font-weight: bold;
  }
  .buying-text {
    font-family: "Josefin Sans", sans-serif;
    color: #665200;
  }

}
