.contact {
  font-family: "Josefin Sans";
  h2 {
    display: flex;
    font-weight: bold;
    justify-content: center;
  }
  h3 {
    display: flex;
    font-weight: bold;
    justify-content: start;
    text-decoration: underline 1px;
  }
}
