.featured-item-parent {
  
    background-color: #665200;
    display: flex;
    flex-direction: column;
    font-family: "Josefin Sans";
  
    h2 {
      text-align: center;
    }
    h5 {
      text-align: center;
    }
  
    .featured-item-title {
      color: white;
    }
    .featured-item-text {
      color: white;
    }
  }
  