//back to top

.backtotop {
  width: 100%;
  text-align: center;
  padding: 1rem;
  display: inline-block;

  a {
    color: #0073e6;
  }
}

h6 {
  color: #454545;
  font-weight: bold;
  font-family: "Josefin Sans";
}

// footer
.footer {
  padding: none;
  //background-color: #0073e6;
  background-color: #665200;

  .title {
    font-weight: bold;
    font-family: "Josefin Sans";
    text-decoration: underline 1px;
  }

  img {
    color: white;
    width: 18rem;
  }

  //footer-links

  .footer-links-col {
    .footer-links-title {
      color: white;
    }
    .footer-link {
      display: flex;
      justify-content: left;
      color: white !important;
    }
  }

  //footer-contact

  .footer-contact-col {
    .contact-title {
      color: white;
    }
    .contact-text {
      color: white;
    }
  }

  //footer-social

  .footer-social-col {
    .footer-social-title {
      color: white;
    }
    .footer-social-svg {
      color: white;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  //footer-hours

  .footer-hours-col {
    .footer-hours-title {
      color: white;
    }
    .footer-hours-text {
      color: white;
    }
  }
}
