/*Media Queries*/

@media only screen and (max-width: 600px) {
  .footer {
    padding: 30px !important;
  }
}
@media only screen and (min-width: 600px) {
  .footer {
    padding: 30px !important;
  }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}

/*Imports*/

@import "~bootstrap/scss/bootstrap";

// Helpful Links

// Find Us

.backtotop {
  width: 100%;
  text-align: center;
  padding: 1rem;
  display: inline-block;

  a {
    color: blue;
  }
}

h6 {
  color: #454545;
  font-weight: bold;
  font-family: "Josefin Sans";
}

.footer {
  padding: none;

  .title {
    font-weight: bold;
    font-family: "Josefin Sans";
    text-decoration: underline 1px;
  }

  img {
    color: white;
    width: 18rem;
  }

  .footer-link {
    display: flex;
    justify-content: left;
    color: #454545;
  }

  // Follow Us - svg links

  .footer-social {
    display: flex;
  
    svg {
      color: #454545;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
