/*Media Queries*/

@media only screen and (max-width: 600px) {
  .main-nav,
  h5 {
    font-size: 1.15rem !important;
  }
}
@media only screen and (min-width: 600px) {
  .main-nav,
  h5 {
    font-size: 1.15rem !important;
  }
}
@media only screen and (min-width: 768px) {
  .main-nav,
  h5 {
    font-size: 1.2rem !important;
  }
}
@media only screen and (min-width: 992px) {
  .main-nav,
  h5 {
    font-size: 1.2rem !important;
  }
}
@media only screen and (min-width: 1200px) {
  .main-nav,
  h5 {
    font-size: 1.2rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .main-nav,
  h5 {
    font-size: 1.2rem !important;
  }
}

//navigation bar

.header-titles {
  margin: 0;
}

.header-h5 {
  margin: 1;
}

.dropdown-toggle::after {
  display: none;
}

.main-nav {
  width: 100%;
  background-color: white !important;
  //border: solid 0.5px lightgray;
  border: solid 1px #544716;
  font-family: "Josefin Sans";
  margin-top: 10px;

  .main-nav-t {
    background-color: white !important;
    //border: solid 0.5px lightgrey;
    border: solid 1px #544716;
  }

  .nav-link {
    color: #544716 !important;
  }
  img {
    height: 30px;
    width: 30px;
  }
}

.header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
